:root{
    /* colors */
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500:hsl(216, 15%, 48%);
    --Slate-900:hsl(218, 44%, 22%);
    /* fonts */
    --font-family-base:"Outfit", sans-serif;
    --font-family-weight-400:400;
    --font-family-weight-500:700;
    --font-family-weight-900:900;

}
*{
  /* font-size:16px; */
}
body{
  height: 100vh;
  background-color: var(--Slate-300);
  display: flex; 
  justify-content: center;
  align-items: center
}
.qr_container{
  width: 300px;
  background-color: var(--White);
  padding: 1.25rem;
  border: 1px solid var(--white);
  border-radius: 0.6rem;
  margin: 0.5rem;
}

.qr_image{
 
}
.qr_image img{
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid var(--white);
  border-radius: 0.6rem;
}
.qr_text p{
  font-size: 15px;
  color:var(--Slate-500)
}